body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main {
  padding: 20px 40px;
}

main button { padding: 10px; }
main button:first-of-type { display: block; }
main button + button { margin-top: 20px; }

main table { text-align: left; }
main table td + td,
main table th + th { padding-left: 20px }
